@import 'variables.scss';
@import 'header/header.scss';
@import 'components/rentals/rentalcard.scss';

.page-title{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 30px;
}


